<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Canciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let cancion of canciones">
    <img src="../../assets/{{cancion.img}}">
    <ion-card-content>
      <ion-card-title class="titulo">
        {{cancion.titulo}}
      </ion-card-title>
      <ion-card-subtitle class="subititulo">
        {{cancion.artista}}
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>

</ion-content>
